<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tsorig Angular Practice</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Cars</a>
    <a class="p-2 text-dark" href="#">Users</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>


<app-cars></app-cars>

<div class="divider"></div>
<footer>
    <div>
        <h2>You can contact with me via this links:</h2>
    </div>
    <div class="icons">
        <a href="https://t.me/KnightSlayerTsorig" target="_blank"><i class="fa fa-telegram fa-3x"></i></a>
        <a href="https://www.instagram.com/modest.megalomaniac/" target="_blank"><i
                class="fa fa-instagram fa-3x"></i></a>
        <a href="https://github.com/KnightSlayerTsorig" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        <a href="" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
    </div>
    <div>&copy; 2021 Tsorig Inc.</div>
</footer>
