.cars_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.cars_sub_main {
  width: 90%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 90%;
}


